@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --win-title: #0078d4;
  --win-border: #a0a0a0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  @apply antialiased text-neutral-900;
}
